{% extends "base.html" %}
{% block title %}Baza Gości{% endblock %}
{% block content %}
<table>
    <style>
        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
    <thead>
        <tr>
            <th>Numer Gościa</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Ilość Wizyt</th>
            <th>Data Urodzenia</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for guest in baza_gosci %}
        <tr>
            <td>{{ guest.guest_id }}</td>
            <td>{{ guest.first_name }}</td>
            <td>{{ guest.last_name }}</td>
            <td>{{ guest.number_of_visits }}</td>
            <td>{{ guest.birth_date }}</td>
            <td>{{ guest.email }}</td>
        </tr>
        {% endfor %}
</table>
{% endblock %}