<!DOCTYPE html>
<html>

<head>
    <title>Orders</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>
</head>

<body>
    <h1>Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer_id</th>
                <th>order_date</th>
                <th>status</th>
                <th>comments</th>
                <th>shipped_date</th>
                <th>shipper_id</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order[0] }}</td>
                <td>{{ order[1] }}</td>
                <td>{{ order[2] }}</td>
                <td>{{ order[3] }}</td>
                <td>{{ order[4] }}</td>
                <td>{{ order[5] }}</td>
                <td>{{ order[6] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>