{% extends "base.html" %}
{% block title %}Tabele{% endblock %}
{% block content %}
<div class="list-group">
    <a href="BazaPokoi" class="list-group-item list-group-item-action">Baza Pokoi</a>
    <a href="ArchiwumRezerwacji" class="list-group-item list-group-item-action">Archiwum Rezerwacji</a>
    <a href="BazaGosci" class="list-group-item list-group-item-action">Baza Gości</a>
    <a href="ObecneRezerwacje" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Obecne
        Rezerwacje</a>
</div>
{% endblock %}